.post{
    display:flex;
    align-items:flex-start;
    border-bottom:1px solid var(--twitter-background);
    padding-bottom:10px;
    padding:10px
}
.post_avatar{
    padding:20px;
}
.post_media{
    
}
.post_media > img{
    border-radius: 20px;
    object-fit: contain;
}


.post_badge{
    font-size:16px !important;
    color: var(--twitter-color);
}
.post_footer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post_headerDescription{
    padding-bottom: 5px;
    padding-top: 5px;
}

.post_username
{
    font-weight: 600;
    font-size: 12px;
    color: gray;
}
